In [ ]:
import pandas as pd

In [ ]:
# !pip install pandas

In [ ]:
s = pd.Series([1116, 12259, 65119, 16699], index=['서울','부산','인천','대구'])
s

서울     1116
부산    12259
인천    65119
대구    16699
dtype: int64

In [ ]:
s.index

Index(['서울', '부산', '인천', '대구'], dtype='object')

In [ ]:
s.values

array([ 1116, 12259, 65119, 16699])

In [ ]:
s.name = '농작물 생산량(톤)'

In [ ]:
s.index.name = '지역구'

In [ ]:
s

지역구
서울     1116
부산    12259
인천    65119
대구    16699
Name: 농작물 생산량(톤), dtype: int64

In [ ]:
s1 = s/1000

In [ ]:
s1.name = '농작물 생산량(k톤)'

In [ ]:
s1

지역구
서울     1.116
부산    12.259
인천    65.119
대구    16.699
Name: 농작물 생산량(k톤), dtype: float64

In [ ]:
s[0], s['서울']

(1116, 1116)

In [ ]:
s[[0,1]]

지역구
서울     1116
부산    12259
Name: 농작물 생산량(톤), dtype: int64

In [ ]:
s[[1,0]]

지역구
부산    12259
서울     1116
Name: 농작물 생산량(톤), dtype: int64

In [ ]:
s[['부산','서울']]

지역구
부산    12259
서울     1116
Name: 농작물 생산량(톤), dtype: int64

In [ ]:
s[(s/4456952*100) > 0.5)]

SyntaxError: ignored

In [ ]:
s[1:3]

지역구
부산    12259
인천    65119
Name: 농작물 생산량(톤), dtype: int64

In [ ]:
s['서울':'대구']

지역구
서울     1116
부산    12259
인천    65119
대구    16699
Name: 농작물 생산량(톤), dtype: int64

In [ ]:
s1

지역구
서울     1.116
부산    12.259
인천    65.119
대구    16.699
Name: 농작물 생산량(k톤), dtype: float64

In [ ]:
s.서울

1116

In [ ]:
d1 = {'서울':1, '부산':2}
pd.Series(d1)

서울    1
부산    2
dtype: int64

In [ ]:
for k,v in s.items():
  print(k,v)

서울 1116
부산 12259
인천 65119
대구 16699

In [ ]:
print('제주도' in s)
'서울' in s.keys()

False

True

In [ ]:
s21 = pd.Series([1116, 12259, 65119, 16699], index=['서울','부산','인천','대구'])
s21

서울     1116
부산    12259
인천    65119
대구    16699
dtype: int64

In [ ]:
s20 = pd.Series([628,11075,56013,15695], index=['서울','부산','인천','대구'])

In [ ]:
s21 - s20

서울     488
부산    1184
인천    9106
대구    1004
dtype: int64

In [ ]:
import numpy as np
type(np.nan)

float

In [ ]:
!python --version

Python 3.7.15

In [ ]:
import numpy as np
type(np.nan)

float

In [ ]:
s_sub = s21.sub(s20, fill_value=0)

In [ ]:
s_sub2 = s21.sub(s20)

In [ ]:
s_sub2.fillna(0)

서울     488
부산    1184
인천    9106
대구    1004
dtype: int64

In [ ]:
rs = ((s21 - s20) / s20 * 100).round(2)

In [ ]:
rs['서울'] = 0

In [ ]:
rs[0] = 123

In [ ]:
rs

서울    123.00
부산     10.69
인천     16.26
대구      6.40
dtype: float64

In [ ]:
del rs['대구']

In [ ]:
rs

서울    123.00
부산     10.69
인천     16.26
dtype: float64

In [ ]:
rs

서울    123.00
부산     10.69
인천     16.26
dtype: float64

In [ ]:
rs['서울'] = 77.71

In [ ]:
rs['대구'] = 6.40

In [ ]:
rs

서울    77.71
부산    10.69
인천    16.26
대구     6.40
dtype: float64

In [ ]:
import random

In [ ]:
random.randint(0,100)

84

In [ ]:
key100 = random.sample(list(range(100)), 100)
# pd.Series() # 크기가 100
# 키값 100 밸류값 100
key80 = random.sample(list(range(100)), 80)
value100 = random.sample(list(range(1000)), 100)
value80 = random.sample(list(range(1000)), 80)
s100 = pd.Series(value100, index=key100)
s80 = pd.Series(value80, index=key80)

In [ ]:
s_100_80_sub = s100-s80

In [ ]:
s_100_80_sub.notnull()

0      True
1     False
2     False
3     False
4      True
      ...
95     True
96    False
97     True
98     True
99     True
Length: 100, dtype: bool

In [ ]:
len(key100)

100

In [ ]:
s_100_80_sub = s100 * s80

In [ ]:
s_100_80_sub.head()

0     76032.0
1         NaN
2         NaN
3         NaN
4    517438.0
dtype: float64

In [ ]:
s100[0], s80[0]

(216, 352)