In [ ]:
import pandas as pd

In [ ]:
dataframe = pd.DataFrame()
data = dataframe['date'] = pd.date_range('1/1/2022', periods=150, freq='w')
print(data)

DatetimeIndex(['2022-01-02', '2022-01-09', '2022-01-16', '2022-01-23',
               '2022-01-30', '2022-02-06', '2022-02-13', '2022-02-20',
               '2022-02-27', '2022-03-06',
               ...
               '2024-09-08', '2024-09-15', '2024-09-22', '2024-09-29',
               '2024-10-06', '2024-10-13', '2024-10-20', '2024-10-27',
               '2024-11-03', '2024-11-10'],
              dtype='datetime64[ns]', length=150, freq='W-SUN')

In [ ]:
#년 월 일 시 분에 대한 특성 만들기
dataframe['year'] = dataframe['date'].dt.year
dataframe['month'] = dataframe['date'].dt.month
data = dataframe['day'] = dataframe['date'].dt.day
data = dataframe['hour'] = dataframe['date'].dt.hour
data = dataframe['minute'] = dataframe['date'].dt.minute

print(dataframe.head(30))

         date  year  month  day  hour  minute
0  2022-01-02  2022      1    2     0       0
1  2022-01-09  2022      1    9     0       0
2  2022-01-16  2022      1   16     0       0
3  2022-01-23  2022      1   23     0       0
4  2022-01-30  2022      1   30     0       0
5  2022-02-06  2022      2    6     0       0
6  2022-02-13  2022      2   13     0       0
7  2022-02-20  2022      2   20     0       0
8  2022-02-27  2022      2   27     0       0
9  2022-03-06  2022      3    6     0       0
10 2022-03-13  2022      3   13     0       0
11 2022-03-20  2022      3   20     0       0
12 2022-03-27  2022      3   27     0       0
13 2022-04-03  2022      4    3     0       0
14 2022-04-10  2022      4   10     0       0
15 2022-04-17  2022      4   17     0       0
16 2022-04-24  2022      4   24     0       0
17 2022-05-01  2022      5    1     0       0
18 2022-05-08  2022      5    8     0       0
19 2022-05-15  2022      5   15     0       0
20 2022-05-22  2022      5   22     0       0
21 2022-05-29  2022      5   29     0       0
22 2022-06-05  2022      6    5     0       0
23 2022-06-12  2022      6   12     0       0
24 2022-06-19  2022      6   19     0       0
25 2022-06-26  2022      6   26     0       0
26 2022-07-03  2022      7    3     0       0
27 2022-07-10  2022      7   10     0       0
28 2022-07-17  2022      7   17     0       0
29 2022-07-24  2022      7   24     0       0